{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>CCC-Data</title>
{% endblock title %}


{% block content %}

<div class="my-container">
  <h1>Data</h1>
  <div class="my-form-container">
    <form class="form" method="post">
      {% csrf_token %}
      <div class="form-items">
        <input type="text" name="query_search" placeholder="search">
      </div>
      <button type="submit">save</button>
    </form>
  </div>
  

  <table class="table">
    <thead>
      <tr>
        <th scope="col">facility</th>
        <th scope="col">facility name</th>
        <th scope="col">phone number</th>
        <th scope="col">partner</th>
      </tr>
    </thead>
    <tbody>
    {% for info in the_data %}
      <tr>
        <th scope="row">{{info.facility_id}}</th>
        <td>{{info.facility_name}}</td>
        <td>{{info.phone_no}}</td>
        <td>{{info.partner_name}}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

{% endblock content %}
