<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/form.css' %}">


    {% block title %}
    {% endblock title %}

</head>
<body>
    <nav class="navbar">
        <div class="nav-container">
          <div class="logo">CCC</div>
          <ul>
            <li class="list-items">
                <a href="{% url 'home' %}">Home</a>
            </li>
            <li class="list-items">
                <a href="{% url 'data' %}">data</a>
            </li>
            <li class="list-items">
                <a href="">Contacts</a>
            </li>
          </ul>
        </div>
      </nav>
    {% block content %}
    {% endblock content %}
</body>
</html>
